<% if notice %>
  <div class="notification is-link">
  <button class="delete"></button>
  <%= notice %></div>
<% end %>
<% if alert %>
 <div class="notification is-warning">
  <button class="delete"></button>
  <%= alert %></div>
<% end %>
